<div class="main-container">
  <%= image_tag 'background/yonsei.jpeg', class: "img-background" %>
</div>

<div class="modal fade" id="modal-form" role="dialog">
  <div class="modal-dialog form">
    <div class="modal-content">
      <div class="modal-title">
        <div>서비스 평가하기</div>
        <div class="close" data-dismiss="modal">
          <%= image_tag 'buttons/close.png', class: "cancel" %>
        </div>
      </div>
      <div class="modal-body">
        <div>서비스 이용후기를 작성해주세요</div>
        <textarea class="textarea"></textarea>
      </div>
      <div class="modal-bottom complete">
        <div class="btn-okay">작성 완료</div>
      </div>
    </div>
  </div>
  <div class="modal-dialog result">
    <div class="modal-content">
      <div class="modal-title">
        <div>응모번호</div>
        <div class="close" data-dismiss="modal">
          <%= image_tag 'buttons/close.png', class: "cancel" %>
        </div>
      </div>
      <div class="modal-body result">
        <div class="result"></div>
        <div>해당 응모번호를 부스에 보여주셔야 접수됩니다!</div>
      </div>
      <div class="modal-bottom complete">
        <div class="btn-okay">확인</div>
      </div>
    </div>
  </div>
</div>
