<div class="main-container">
  <div class="title-container">
    <div class="title-main">
      내집탐방의</br>
      원룸리뷰를 평가해주세요.
    </div>
    <div class="title-sub">
      후기는 익명으로만 작성 가능합니다.</br>
      응모번호를 행사 부스로 가져오시면 추첨을 통해 푸짐한 상품을 드립니다.
    </div>
  </div>
  <%= image_tag 'background/yonsei.jpeg', class: "img-background" %>
</div>
